@model List<TravauxDevis>
@{
    Devis devis = ViewBag.devis;
}
<div id="pdf">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Devis @devis.Numero</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-responsive-sm">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>DESIGNATIONS</th>
                                <th>U</th>
                                <th>Q</th>
                                <th>PU</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.TypeTravaux.Numero</td>
                                    <td>@item.TypeTravaux.Designation</td>
                                    <td>@item.TypeTravaux.Unite.Nom</td>
                                    <td>@item.Quantite</td>
                                    <td>@item.PrixUnitaire</td>
                                    <td>@item.Total</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script>
        function generatePDF() {
            const element = document.getElementById("pdf");
            document.getElementById("boutonExport").style.display = 'None';
            html2pdf().from(element).set({
                margin: [20, 0, 0, 0],
                filename: 'your_filename.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
            }).save('download.pdf');
        }

        function downloadCode() {
            generatePDF();
            setTimeout(function () { window.location = window.location; }, 3000);
        }
    </script>
}
